.tabs {
  border-bottom: 1px solid var(--grey-2);
}

.tabs__input {
  position: absolute;
  left: -100vw;
  display: inline-block;
}

.tabs__scroller {
  display: flex;
  gap: 40px;

}

.tabs__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--grey-3);
  padding-bottom: 8px;
  border-bottom: 5px solid transparent;
}


#all-tabs:checked ~ .tabs__scroller [for="all-tabs"],
#tab-element:checked ~ .tabs__scroller [for="tab-element"],
#tab-containers:checked ~ .tabs__scroller [for="tab-containers"],
#tab-templates:checked ~ .tabs__scroller [for="tab-templates"] {
  color: var(--black);
  border-color: var(--black);
}

.tabs__content {
  display: none;  
}

#all-tabs:checked ~ .tabs__content_all,
#tab-element:checked ~ .tabs__content_element,
#tab-containers:checked ~ .tabs__content_container,
#tab-templates:checked ~ .tabs__content_template {
  display: block;
}
