/* Стилизация аккордеона */

.accordion {
  font-family: "Inter", sans-serif;
}

.accordion__details {
  padding: 24px 32px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  display: block;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

.accordion__text {
  margin: 0;
  padding: 16px 0 8px;
}