.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkbox {
  display: inline-block;
}

.checkbox__input {
  position: absolute;
  left: -100vw;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox__control {
  height: 28px;
  width: 28px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.checkbox__icon {
  display: none;
}

.checkbox__input:checked + .checkbox__state .checkbox__control {
  background: var(--bright-blue);
  border-color: var(--bright-blue);
}

.checkbox__input:checked + .checkbox__state .checkbox__icon {
  display: block;
}

.checkbox__input:focus + .checkbox__state .checkbox__label {
  text-decoration: underline;
}

.checkbox__input:disabled + .checkbox__state .checkbox__control {
  background: var(--grey-2);
  border-color: var(--grey-2);
}

.checkbox__input:disabled + .checkbox__state .checkbox__label {
  color: var(--grey-2);
}
