
.modal-window {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--shadow);
}

.modal-window__inner {
  font-family: "Inter", sans-serif;
  letter-spacing: 0%;
  max-width: 428px;
  padding: 30px 40px 33px;
  border-radius: 8px;
  position: relative;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-window__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.cross-icon {
  fill: var(--grey-4);
  width: 100%;
  height: 100%;
}


.modal-window__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}

.modal-window__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}