.skeleton {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
  box-sizing: border-box;
  display: block;
  font-display: column;
  gap: 24px;
}

.skeleton__top {
  display: flex;
  gap: 16px;
}

.skeleton__circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--grey-2);
}

.skeleton__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.skeleton__line {
  height: 20px;
  background-color: var(--grey-2);

}

.skeleton__line_short {
  width: 40%;
}

.skeleton__line_medium {
  width: 55%;
}

.skeleton__lines {
  display: flex;
  flex-direction: column;
  margin-top: 24px; 
  gap: 8px;
  width: 100%;
}

.skeleton__line_large {
  width: 100%;
}



